

    
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Rubik';
    text-align: center;
    padding:0;
    margin:0;
  }

header {
    background-image: url(/ipAddress-tracker/assets/images/pattern-bg.png) ;
    height: 100%;
    color:white;
    padding-top:40px;

}
   input {
    width: 100%;
    padding: 20px;
    font-size:18px;
  }
  
  .search-form {
    max-width: 400px;
    margin: 50px auto;
    font-size:18px;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  
  .hl {
   color:white;
  }